  :root{
    --g1: #54b6fd;
    --g2: #414ee6;
    --g3: #0095ff;
    --g4: #0015ff;
  }


body {
       min-height:100vh;
    background: linear-gradient(135deg, var(--g1) 50%, var(--g2) 50%);
    display:flex;
    align-items:center;
    justify-content:center;
    color: white;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  }

    .container {
      background-color: rgba(255, 255, 255, 0.95);
      padding: 30px 40px;
      border-radius: 50px;
      box-shadow:
    20px 8px 2px var(--g1), /* biru kanan bawah */
    -20px -8px 2px var(--g2);  /* kuning kiri atas */
      text-align: center;
      font-weight: bold;
      width: 625px;
      height: 225px;
      justify-content: center;
      align-items: center;
    }

    .container:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
    }

    
    h1 {
      font-size: 55px;
      margin-bottom: 25px;
      color: #000000;
    }


    button {
      font-weight: bold;
      width: 100%;
      padding: 20px;
      border: none;
      border-radius: 20px;
        background: var(--g1);
      color: #000;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button:hover {
      background: var(--g2);
    }

    .aspirasi{
      display: flex;
      gap: 20px;
      font-size: 40px;
    }

    .foter {
  text-align: center;        /* biar teks di tengah */
  color: white;              /* biar tetap kontras */
  font-size: 14px;
  position: fixed;           /* biar selalu di bawah */
  bottom: 0;
  left: 0;
  width: 100%;               /* penuh satu baris */
  background: transparent;   /* kalau ga mau ada warna latar tambahan */
}
.foto{
  width: 600px;
  height: auto;
  position: absolute;
  top: -100px;
  left: 200px;
}
